.card {
    border: 4px solid var(--primary-yellow);
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.card:hover {
    scale: 1.05;
}

.card > img {
    height: 160px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid var(--primary-yellow);

}

#water {
    background-color: var(--water-type);
}

#electric {
    background-color: var(--electric-type);
}

#fire {
    background-color: var(--fire-type);
}

#psychic {
    background-color: var(--psychic-type);
}

#grass {
    background-color: var(--grass-type);
}

#normal {
    background-color: var(--normal-type);
}

#ground {
    background-color: var(--ground-type);
}

#ghost {
    background-color: var(--ghost-type);
}