.card {
    border: 2px solid black;
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.card > img {
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
}