.card {
    border: 2px solid black;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 3px;
}

.card > img {
    height: 160px;
}