.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(202, 250, 239, 0.8);
    background: linear-gradient(180deg,rgba(202, 250, 239, 0.8) 0%, rgba(48, 255, 200, 0.8) 50%, rgba(202, 250, 239, 0.8) 100%);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    row-gap: 5px;
}

.overlay_card > button {
    width: fit-content;
    padding: 10px;
    font-family: inherit;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 5px;
}

.overlay_card > button:hover {
    background: rgba(202, 250, 239, 0.8);
}

.game_over {
    display: none;
    flex-direction: column;
    align-items: center;
}

.game_won {
    display: none;
}

.visible {
    display: flex;
}

.run_animation {
    animation: 0.5s scale;
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .overlay_card {
        font-size: 1.5rem;
    }
}

@media (max-width: 425px) {
    .overlay_card {
        font-size: 1.2rem;
    }
}