.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 375px) {
    .header_container {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .score_container {
        display: flex;
        column-gap: 10px;
    }
}