
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
                
:root {

  font-family: 'Pokemon Solid', sans-serif;
  font-weight: 300;
  color: #FFCC01;               
  text-shadow: 2px 2px 0 #365fac, 2px -2px 0 #365fac, -2px 2px 0 #365fac, -2px -2px 0 #365fac, 2px 0px 0 #365fac, 0px 2px 0 #365fac, -2px 0px 0 #365fac, 0px -2px 0 #365fac;  
  letter-spacing: 3px;  
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
