
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
                
:root {

  --yellow: #FFCC01;
  --water-type: #6390F0;
  --electric-type: #F7D02C;
  --fire-type: #EE8130;
  --psychic-type: #F95587;
  --grass-type: #7AC74C;
  --normal-type: #A8A77A;
  --ground-type: #E2BF65;
  --ghost-type: #735797;

  font-family: 'Pokemon Solid', sans-serif;
  font-weight: 300;
  color: var(--yellow);               
  text-shadow: 2px 2px 0 #365fac, 2px -2px 0 #365fac, -2px 2px 0 #365fac, -2px -2px 0 #365fac, 2px 0px 0 #365fac, 0px 2px 0 #365fac, -2px 0px 0 #365fac, 0px -2px 0 #365fac;  
  letter-spacing: 3px;  
  font-size: 15px;
  background: #d9d9d9;
  background: linear-gradient(0deg,rgba(217, 217, 217, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
