
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/gill-sans-2');
                
:root {

  --yellow: #FFCC01;
  --water-blue: #6390F0;
  --electric-yellow: #F7D02C;
  --fire-red: #EE8130;
  --psychic-pink: #F95587;

  font-family: 'Pokemon Solid', sans-serif;
  font-weight: 300;
  color: var(--yellow);               
  text-shadow: 2px 2px 0 #365fac, 2px -2px 0 #365fac, -2px 2px 0 #365fac, -2px -2px 0 #365fac, 2px 0px 0 #365fac, 0px 2px 0 #365fac, -2px 0px 0 #365fac, 0px -2px 0 #365fac;  
  letter-spacing: 3px;  
  font-size: 15px;
background: #d9d9d9;
background: linear-gradient(0deg,rgba(217, 217, 217, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
