.main_body_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 123px);
    align-items: center;
}

.visible {
    display: block
}

.loader {
  display: none;
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,var(--primary-yellow) 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

@media (max-width: 425px) {
    .main_body_container {
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 320px) {
    .main_body_container {
        padding: 5px;
        gap: 5px;
    }
}